---
---

@import "{{ site.theme }}";
.page-header {
  background-color: #155799;
  background-image: linear-gradient(120deg, #155799, #155799);
}
header img {
  float: left;
  width:150px;
  height:150px;
}
footer {
  display: none;
}

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.unstyled-button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.unstyled-button::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.unstyled-button-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}  
